<h1>Hello {{ title }}</h1>
<!-- here title is in interpolation, it is used to pass our objects, properties or functions or variables from to ts to html for ex see below-->
<p>accessing title = {{ getTitle() }}</p>
<p>accessing object = {{ obj.name }} {{ obj.age }}</p>
<p>accessing array = {{ arr }}</p>
<p>using properties like length on array = {{ arr.length }}</p>
<p>operations inside interpolation ={{ a + b }}</p>

<!-- we can't assign values using interpolation and we can't use window object in interpolation-->

<!-- component :-  -->
<app-user-list></app-user-list>
<h2>Angular Module</h2>
<app-login></app-login>
<app-signup></app-signup>
<button (click)="myEvent('click Event')">Click Event</button>
<br />
<br />
<input type=" text" (keyup)="myEvent('keyup Event')" /> <br />
<br />
<!-- it only counts number of keyPressed but if value to be accessed try following 👇-->
<div id="input"></div>
<input type="text" #inputField (keyup)="myEvent(inputField.value)" />
<!-- we can use keyUp.enter or keyUp.space it will return value when enter and space clicked-->

<br />
<br />

<!-- get input value from input field -->
<input type="text" #inp (keyup)="getVal(inp.value)" />

<div>
  {{ currentVal }}
</div>

<!-- getting value after button click  -->
<input type="text" #box />

<button (click)="getVal(box.value)">get value</button>

<!-- property binding [] it handles dynamic attributes so allows dynamic values or functions & interpolation{{}} it's exclusively for string it doesn't allow assigning value or {{windows.location.href}}-->

<br />
<br />
<input type="text" [disabled]="disabledBox" value="{{ name }}" />
<!-- property binding-->
<!-- or -->
<br />
<br />
<!-- interpolation-->
<input type="text" disabled="{{ disabledBox }}" [value]="name" />
<br />
<br />
<button (click)="enableBox()">enable textbox</button>

<!-- hence clearly we can see that property binding enabled on button click but interpolation doesn't so this dynamic transformation is only with it -->

<!-- conditions in angular -->

<h1 *ngIf="show; else elseBlock">if block</h1>
<ng-template #elseBlock> else block</ng-template>

<div *ngIf="color == 'red'; then redBlock; else otherBlock"></div>
<ng-template #redBlock>
  <div>red block</div>
</ng-template>
<ng-template #otherBlock>
  <div>other block</div>
</ng-template>

<ng-template [ngIf]="color == 'green'">
  <div>green Block</div>
</ng-template>
<ng-template [ngIf]="color == 'yellow'">
  <div>yellow Block</div>
</ng-template>
<ng-template [ngIf]="color == 'violet'">
  <div>violet Block</div>
</ng-template>
